/* @import url(//fonts.google.com/specimen/Montserrat?selection.family=Montserrat); */
@font-face{
  font-family: Montserrat; src: url('../fonts/Montserrat-Regular.woff');
}

@font-face{
  font-family: Montserrat-Bold; src: url('../fonts/Montserrat-Bold.woff');
}

@font-face{
  font-family: Montserrat-SemiBold; src: url('../fonts/Montserrat-SemiBold.woff');
}


:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  

html {
    /* border-box box model */
    box-sizing: border-box;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: var(--black);
    
    /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
  }
  /*
  Inherit box-sizing: border-box; from our <html> selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* h1, h2, h3, h4, h5, h6, a, p {
  font-family:Montserrat, "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif !important;
} */

h1 {
  font-family: Montserrat-SemiBold;
}



body {
  background-image: url("images/desktop_06.png");   
  background-size:  1300px;
  background-repeat: no-repeat;
  background-position-x: calc((1vw * 48) - 560px);
  background-attachment:fixed; 
}



@media (max-width: 600px){
  body {
    background-size: 800px;
    background-position-x: calc((1vw * 48) - 350px);  
  }
  .header {
    padding: 0;
    }
}
  
.tagline {
    font-weight: normal;
    color: #0022ff;
    font-size: 0.8em;
    margin: 0;
    width: 68%;
    min-width: 235px;
    
}
  

.container {
  display: grid;
  max-width: 600px;
  margin: auto;
  height: auto;
  grid-template-columns: 1fr;
  

}

.section {
    display:grid;
    grid-gap: 0.5em;
    justify-content: center;
    min-height: 100px;
    align-content: center;
}

.fixedHeader{
  background:white;
  text-align: center;
  width: 100%;
  top:0;
  opacity:0.9;
  transition:all 0.1s;
  position: fixed;
  z-index: 2;
  max-height: 0;
  letter-spacing: 0.5em;

  font-weight: 100;
  overflow: hidden;
}

.fixed .fixedHeader{
  padding: 10px;
  display:block;
  max-height: 100px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  position-x: 0;
}

.header {
  padding:4em;
  height: 23em;
  display:grid;
  grid-auto-columns: 1fr;  
}

.intro {
  margin: 0;
}

.tagline {
  font-weight: normal;
  color: #0022ff;
  font-size: 1em;
  margin: 0;
  
}

a {
  
  color: var(--black);
  font-weight: 100;
  
}



.links {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  padding-top: 1em;
}

.linkIcons {
  height:2em;
  transition: 0.1s;
  border: 0px solid white;
  border-radius: 50%;
 
}

.linkIcons:hover {
  border: 4px solid var(--yellow);
  }


/* Work Project Section */

.projects {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  height: auto;  
}



  /* Each Project*/


    .project {
    margin:0;
    width: 100%;
    background: rgb(228, 228, 228);
    flex: 1 0 auto;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    transition: 0.2s;
  }
  
  .project:hover{
    background: rgb(237, 237, 237);
    min-height: 202px;
  
  }

  .modal {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation-name: modalOpen;
    animation-duration: 0.1s;


  }

  .modal-content {
    background-color: whitesmoke;
    margin: 5% auto;
    padding: 20px;
    width: 90%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17);
    animation-name: modalContentOpen;
    animation-duration: 0.6s;
    min-height: 200vh;
    z-index: 4;

  }

  .closeBtn {
    color: #ccc;
    float: right;
    font-size: 60px;
    padding: 10px 30px;
  }

  .closeBtn:hover,.closeBtn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes modalOpen{
    from { opacity : 0}
    to { opacity: 1}
  }

  @keyframes modalContentOpen{
    from { opacity : 0}
    to { opacity: 1}
  }
  /* .project > * {
    margin:0;
    width: 100%;
    background: rgb(213, 213, 213);
    flex: 1 0 auto;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  } */
