:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  

html {
    /* border-box box model */
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 1em;
    color: var(--black);
    /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
  }
  /*
  Inherit box-sizing: border-box; from our <html> selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}



body{
  background: linear-gradient(90deg, #ffffff 0%, #f0f0f0 51%, #e7e7e7 75%);
  height = 100%;
  margin: 0;
}

.container {
  display: grid;
  /* grid-gap: 1em; */
  /* border: 1px solid var(--yellow); */
  max-width: 600px;
  margin:auto;
  height: auto;
  

}

.section {
    /* border: 1px solid var(--black); */
    display:grid;
    grid-gap: 0.5em;
    justify-content: center;
    min-height: 100px;
    align-content: center;
    
}

.header {
  background: white url(images/desktop_02.jpg);
  background-size: 1100px;
  /* background-size: cover; */
  background-position: 42% 0px;
  height: 23em;
  display:grid;
  grid-auto-columns: 1fr;
  padding:4em;
  
}

.intro {
  margin: 0;
}

.tagline {
  font-weight: normal;
  color: #0022ff;
  font-size: 1em;
  margin: 0;
  
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: 150;
  
}

.links {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  padding-top: 1em;
}

.linkIcons {
  height:2em;
 
}

.linkIcons:hover {
  opacity: 50%;
}


/* Work Project Section */

.projects {
  display:flex;
  flex-direction: column;
  flex:1;
  justify-content: space-between;
  height: 1000px;
  overflow: hidden;
  
   

}

  /* Each Project*/
  .project > * {
    margin:0;
    width: 100%;
    background: rgb(213, 213, 213);
    flex: 1 0 auto;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 18vh;
  }
