:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 1em;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  /*
  Inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  background: linear-gradient(90deg, #ffffff 0%, #f0f0f0 51%, #e7e7e7 75%);
}

.section {
    border: 1px solid var(--black);
    display:grid;
    grid-gap: 0.5em;
    justify-content: center;
    
}

.project {
    border: 1px solid red;
    
}

.container {
  display: grid;
  grid-gap: 1em;
  border: 5px solid var(--yellow);
  max-width: 600px;
  margin:auto;

}